<a href="https://colab.research.google.com/github/mibrahim-O2/Agentic-AI-assignments/blob/main/A01_AgenticAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Q1: Variables & Data Types
1. Create the following variables:
○ name → your full name
○ age → your age
○ is_student → a boolean value (True/False)
2. Print all variables in one line.
3. Print the data type of each variable using type().

In [3]:
name = "Muhammad Ibrahim"
age = 23
is_student = True
print("Name : ",name,"age : ",age,"Student : ",is_student)

print("Type of name:",type(name))
print("Type of age:",type(age))
print("Type of is_student",type(is_student))

Name :  Muhammad Ibrahim age :  23 Student :  True
Type of name: <class 'str'>
Type of age: <class 'int'>
Type of is_student <class 'bool'>

# Q2: Arithmetic Operators
Let x = 20 and y = 6.

Perform and print the results of:


*   Addition
*   Subtraction
*   Multiplication
*   Division
*   Floor Division
*   Modulus
*   Exponent

In [4]:
x = 20
y = 6

print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Floor Division:", x // y)
print("Modulus:", x % y)
print("Exponent:", x ** y)

Addition: 26
Subtraction: 14
Multiplication: 120
Division: 3.3333333333333335
Floor Division: 3
Modulus: 2
Exponent: 64000000

# Q3: Assignment Operators
Let num = 10.
1. Add 5 to num using the += operator.
2. Multiply num by 2 using the *= operator.
3. Subtract 4 from num using the -= operator.
4. Print the final value of num.

In [5]:
num = 10

num += 5   # Add 5 → num = 15
num *= 2   # Multiply by 2 → num = 30
num -= 4   # Subtract 4 → num = 26

print("Final value of num:", num)

Final value of num: 26

# Q4: Comparison Operators
Take a = 15 and b = 12.

Check and print the results of the following comparisons:

* a > b


* a < b

* a == b

* a != b

* a >= b

* a <= b

In [6]:
a = 15
b = 12

print("a > b :", a > b)
print("a < b :", a < b)
print("a == b:", a == b)
print("a != b:", a != b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)

a > b : True
a < b : False
a == b: False
a != b: True
a >= b: True
a <= b: False

# Q5: Logical Operators
Let p = True and q = False.

Check and print the result of:

● p and q

● p or q

● not p

● not q

In [7]:
p = True
q = False

print("p and q:", p and q)   # True AND False → False
print("p or q :", p or q)    # True OR False → True
print("not p  :", not p)     # NOT True → False
print("not q  :", not q)     # NOT False → True

p and q: False
p or q : True
not p  : False
not q  : True

# Q6: Real-Life Example
The price of one notebook is 80 rupees.

● If you buy 7 notebooks, calculate the total price.

● If you have 600 rupees, check (using comparison operator) whether your money is enough to buy them or not.

● Print the result in a clear message.

In [8]:
price_per_notebook = 80
notebooks = 7
total_price = price_per_notebook * notebooks
money = 600

# Check directly with a conditional expression
enough_money = money >= total_price

print("Total Price:", total_price)
print("Enough money to buy?", enough_money)

Total Price: 560
Enough money to buy? True

# Q7: Bonus (Optional)
Take two numbers as input from the user.

● Print their sum.

● Print whether the first number is greater than the second number or not.

In [9]:
# Take input from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Print their sum
print("Sum:", num1 + num2)

# Print comparison result (True/False)
print("Is the first number greater than the second?", num1 > num2)

Enter first number: 20
Enter second number: 12
Sum: 32
Is the first number greater than the second? True